footer {
	background: url("../img/footer-bg.jpg") 60% 0 /cover no-repeat;
	color: white;
	padding: 40px 0;
	display: flex;
	align-content: center;
}

.footer-flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.footer-title {
	font-size: 24px;
	@media screen and (min-width: 768px) {
		font-size: 36px;
	}
}

.social-list {
	padding-top: 15px;
	li {
		display: inline-block;
		margin: 0 10px;
		&:first-child {
			margin-left: 0px; 
		}
	}
	.fa {
		font-size: 24px;
	
	
	}
}

.fa-instagram:hover {
	color: #FF2B7D;
}
.fa-facebook:hover {
	color: #4962B4;
}

.fa-vk:hover {
	color: #44678D
}

.fa-telegram:hover {
	color: #2DA5DE;
}

.contacts {
	font-size: 16px;
	text-align: center;
	span {
		display: block;
	}
	.organizer {
		font-size: 24px;
		padding: 10px 30px;
	}
	.phone-title {
		padding-bottom: 5px;
	}
	.phone {
		font-size: 18px;
	}
}

