
.reason {
	position: relative;
	background: url(../img/reason-bg.jpg) 60% 0 /cover no-repeat;
}
.reason-img {
	width: 130px;
}

.reason-subheading {
	padding: 25px 0;
	font-weight: 600;
	font-stretch: 18px;

}

.reason-list {
	li {
		padding-top: 20px;
	}
}