.rules {
	background: url("../img/about-bg.jpg") 60% 0 /cover no-repeat;
	.rules-list {
		li {
			margin-bottom: 10px;
		}
		.overlay {
			padding: 15px 0;
			background: rgba(0,0,0,0.5);
			color: white;
			max-width: 200px;
			margin: 0 auto;
			span {
				font-size: 50px;
			}
			p {
				font-size: 14px;
				font-weight: bold;
			}

		}
	}
	.brand-button {
		margin-top: 25px;
		border: none;
		.fa {
			font-size: 20px;
			margin-right: 10px;
		}
	}
}

.popup {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 6;
	overflow-y: scroll;
	overflow-x: auto;


}

.modal_form {
	width: 90%; 
	height: auto; 
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: relative;
	top: -300px;
	z-index: 7; 
	padding: 20px 10px;
	text-align: left;
	border-radius: 15px;
	margin: 0 auto;
	font-size: 18px;
	@media screen and (min-width: 768px) {
		width: 700px;
		font-size: 14px;
	}
	h3 {
		text-align: center;
		font-size: 30px;
		padding: 5px 0 15px 0;
		border-bottom: 1px solid green;

	}
}

.modal_form #modal_close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
	color: red;
	font-size: 24px;
}

#overlay {
	z-index:3; 
	position:fixed; 
	background-color:#000; 
	opacity:0.8; 
	-moz-opacity:0.8; 
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	bottom: 0;
	right: 0;
	cursor:pointer;
	display:none;
}

.popup-list {
	padding-top: 15px;
	>li {
		padding-bottom: 15px;
		margin-left: 25px;
		position: relative;
		&:before {
			content: "";
			width: 20px;
			height: 20px;
			background-image: url(../img/right-arrow.svg);
			position: absolute;
			left: -25px;

		}
	}
	.tours {
		padding-top: 10px;
		li {
			list-style-type: square;
			margin-left: 35px;
		}
	}
}

.forbidden-list {
	padding-top: 10px;
	li {
		padding-bottom: 15px;
		margin-left: 25px;
		position: relative;
		&:before {
			content: "";
			width: 20px;
			height: 20px;
			background-image: url(../img/right-arrow-red.svg);
			position: absolute;
			left: -25px;

		}
	}

}