@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: black;
	position: relative;
}
p {
	margin: 0;
}
a {
	display: inline-block;
	color: white;
}

a:link, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
ul {
	padding-left: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

section {
	overflow: hidden;
	text-align: center;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}


.reg-brand {
	padding: 15px 25px;
	background: #37B600;
	border: 1px solid black;
	border-radius: 50px;

	text-transform: uppercase;
	font-weight: bold;
	transition: 0.2s all ease-out;
	@media screen and (min-width: 768px){
		margin-top: 40px;
	}
	&:hover {
		background: #3DF400;
	}
	&:active {
		box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
	}
	&:link, &:visited {
		color: white;
	}
}


.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	.item-1 {
		flex: 2;
	}
	.item-2 {
		flex: 6;
	}
	@media screen and (min-width: 550px) {
	.item-1 {
		flex: 1;
	}
	.item-2 {
		flex: 6;
	}
	}
}


.section-title {
	font-size: 40px;
	padding-bottom: 50px;

}

.section-p {
	font-size: 16px;
}
.section-padding {
	padding: 30px 0;
}

.photo-item {
	max-width: 600px;
	margin: 0 auto;

}

.photos {
	color: white;
	position: relative;
	background: url(../img/gallery-bg.jpg) 0 0 /cover no-repeat;
}

.brand-button {
	padding: 15px 20px;
	color: white;
	font: bold 13px "Raleway", sans-serif;
	text-transform: uppercase;
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px transparent;
	  position: relative;
	  background: rgba(0,0,0,0.5);
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;

	&:before {
	  content: "";
	  position: absolute;
	  z-index: -1;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background: #37B600;
	  -webkit-transform: scale(0);
	  transform: scale(0);
	  -webkit-transition-property: transform;
	  transition-property: transform;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-timing-function: ease-out;
	  transition-timing-function: ease-out;
	}
	&:hover, &:focus, &:active {
	  color: white;
	}
	&:active {
		background: #225D09;
		box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
	}
	&:hover:before, &:focus:before, &:active:before {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	}
}