@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: black;
}
p {
	margin: 0;
}
a {
	display: inline-block;
	color: white;
}

a:link, a:visited {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
ul {
	padding-left: 0;
	margin: 0;
}

li {
	list-style-type: none;
}

section {
	overflow: hidden;
	text-align: center;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
}

.section-title {
	font-size: 40px;
	padding-bottom: 30px;

}
.about-p {
	padding-top: 10px;
}

.section-p {
	font-size: 16px;
}
.section-padding {
	padding: 50px 0;
	@media screen and (min-width: 768px) {
		padding: 75px 0;
	}
}